@media only screen and (max-width: 700px) {
  nav {
    align-content: justify;
    width: 130%;
    overflow: hidden;
    
  }
}

@media only screen and (max-width: 700px) {
  .tablet{
   width: 200%;
   position: absolute;
    bottom: 900px;
   left: 200px;
     }
    }

   
     @media only screen and (max-width: 700px) {
      .ill{
        position: relative;
        z-index: 10;
        bottom: 350px;
         }
}


@media only screen and (max-width: 700px) {
  .bring {
    position: relative;
    top: 150%;
    text-align: center;
    width: 130%;
    overflow: hidden;
    z-index: 1;

  }
}

@media only screen and (max-width: 700px) {
  .manage {
    position: relative;
    top: 150%;
    text-align: center;
    width: 130%;
    overflow: hidden;
    
  }
}
@media only screen and (max-width: 700px) {
  .first button {
    position: absolute;
    top: 250%;
    left: 150px;

  }
}
@media only screen and (max-width: 700px) {
  .whats {
    position: relative;
    top: 10%;
    left: 10%;
    text-align: center;
    font-size: 200%;
    width: 350px;
  }
}
@media only screen and (max-width: 700px) {
  .provides {
    position: relative;
    top: 10%;
    left: 10%;
    text-align: center;
    width: 350px;
  }
}